
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(255, 186, 57);
    width: 100%;
}

header {
    background-color: rgb(255, 186, 57);
    color: rgb(49, 131, 131) ;
    text-align: center;
}

h1 {
    font-size: 500%;
    padding-top: 5%
}

#nav {
    background-color: rgb(91, 200, 200) ;
    position: fixed;
    top: 0;
    width: 100vw;
    opacity: 0.9;
}



/* Basic styling */

* {
    box-sizing: border-box;
}
  ul {
    list-style-type: none;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

.menu ul{
  display: none;
}

  .menu ul.show {
    display: flex; /* Muestra el menú cuando tiene la clase 'show' */
  }


  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }
  /* Tablet menu */
  @media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      order: 2;
    }
    .button.secondary {
      border: 0;
    }
    .button a {
      padding: 7.5px 15px;
      background: rgb(244, 169, 30);
      border: 1px #006d6d solid;
    }
    .button.secondary a {
      background: transparent;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: rgb(205, 134, 2);
      border-color: #005959;
    }
    .button.secondary a:hover {
      color: #ddd;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 900px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }
    .item{
      order: 1;
    }
    .button {
      order: 2;
    }
    .menu li {
      padding: 15px 10px;
    }
    .menu li.button {
      padding-right: 0;
    }
  }

  #hero img{
    width: 100%;
  }

    section {
        width: 70%;
        margin:  auto;
    }

    #grid{
        width: 100%;
        margin: 0;
        padding: 0;
    }


button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: rgba(245,177,78,255);
    color: ghostwhite;
   }
   
   button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   button:hover span {
    color: black;
   }
   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }

  h2{
    color: rgb(49, 131, 131);
    display: inline-block;
    border: 2px solid #333; /* Ancho y color del borde */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    font-size: 300%;
    border-radius: 16px;
   }

   #merch, #tour, #contact{
    text-align: center;
   }
   
   /* Estilos específicos para la sección de grid */
   .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px; /* Espacio entre las columnas */
    width: 100vw; /* Ancho total de la ventana del navegador */
}

.grid-item {
    background-color: rgb(84, 181, 181); /* Color de fondo de cada ítem en el grid */
    padding: 20px;
    text-align: center;
}

.grid-item img{
    width: 80%;
}

#text {
  font-size: 150%;
  border: 2px white solid;
}

#text2{
  font-size: 170%;
  padding-left: 20%;
  padding-right: 20%;
}

#t {
  font-size: 400%;
}

    /* Media query para cambiar a 2 columnas cuando la pantalla es menor a 600px */
    @media (max-width: 900px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
        }
        .grid-container3{
          grid-template-columns: repeat(1, 1fr);
        }
    }
        

    /* Media query para cambiar a 1 columna cuando la pantalla es menor a 300px */
    @media (max-width: 600px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
        .grid-container3 {
          grid-template-columns: 1fr;
        }
    }

    #m{
        font-size: 200%;
        color: white;
    }

    #m:hover {
            color: grey;
            cursor: pointer;
    }

    #grid img{
        box-shadow: 10px 10px 15px #000;
    }

    .grid-container2 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px; /* Espacio entre las columnas */
      width: 80vw; /* Ancho total de la ventana del navegador */
      padding-left: 20vw;
  }

  #miami{
    width: 50%;
  }

  #barcelona{
    width: 50%;
  }

  .grid-item2 {
    background-color: rgb(84, 181, 181); /* Color de fondo de cada ítem en el grid */
    padding: 20px;
    text-align: center;

}

#mapa{
  width: 100%;
}

.grid-container3{
    display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px; /* Espacio entre las columnas */
      width: 60vw; /* Ancho total de la ventana del navegador */
}

@media (max-width: 600px) {
  .grid-container3 {
    grid-template-columns: 1fr;
  }
}

.grid-item3{
  padding: 20px;
  text-align: center;
}

#contacto{
  text-align: center;
  font-size: 150%;
  margin-top: 1em;
}

#contacto:hover{
  cursor: pointer;
}

footer {
    background-color: rgb(61, 130, 130);
    color: #fff;
    text-align: center;
    padding: 1em 0;
    bottom: 0;
}


